* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;

}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #2373a5;
    flex: 0 0 10%;
    height: 100%;
}

.header__title {
    color: #fff;
    font-size: 1.5rem;
}

.header__nav {
    display: flex;
}

.header__nav-list {
    display: flex;
    list-style: none;
}

.header__nav-item {
    margin-left: 0.6em;
}

.header__nav-link {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
}

.header__nav-link:hover {
    color: #bebebe;
    transition: 0.3s;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section__content {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
}

.section__title {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 20px;
}

#about {
    background-image: url("image1.jpg");
}

#plan_tour {
    background-image: url("image2.jpg");
}

#experience {
    background-image: url("image3.jpg");
}

.section__list {
    list-style: none;
    font-size: 0.7em;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 30px;
}

.section__button {
    font-size: 0.7em;
    padding: 20px 0;
    width: 10em;
    color: #fff;
    background-color: #5aafe1;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.section__button:hover {
    background-color: #417fa4;
    transition: 0.3s;
}

.tour-cards {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}

.tour-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(25% - 2rem);
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

.tour-card__image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.tour-card__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.tour-card__description {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    flex-grow: 1;
}

.tour-card__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tour-card__button {
    font-size: 18px;
    padding: 20px 0;
    width: 108px;
    color: #fff;
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
}

.tour-card__button-buy, .tour-card__button-info {
    background-color: #5aafe1;
}

.tour-card__button-buy:hover, .tour-card__button-info:hover  {
    background-color: #417fa4;
    transition: 0.3s;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #34495e;
    height: 60px;
}

.footer__text {
    color: #fff;
    font-size: 1rem;
}

@media (max-width: 890px) {
    .header__title {
        font-size: 1em;
    }
    .header__nav-item {
        margin-left: 10px;
    }
    .tour-cards {
        padding: 0.5rem;
    }
    .tour-card {
        width: calc(50% - 1rem);
        margin: 0 0.5rem;
        padding: 0.5rem;
    }
    .tour-card__description {
        font-size: 0.7rem;
        line-height: 1.2;
        margin-bottom: 0.5rem;
    }

    .tour-card__button {
        font-size: 0.5rem;
        padding: 10px;
        margin: 0 10px;
    }
}

@media screen and (max-width: 580px) {
    .header__title {
        font-size: 0.7em;
    }
    .header__nav {
        display: none;
    }
    .section {
        height: 30vh;
    }
    .section__content {
        gap: 20px;
        width: 100%;
        font-size: 0.5em;
    }
    .section__button {
        font-size: 1em;
        padding: 20px 0;
        width: 15%;
    }
    .tour-card {
        width: calc(100% - 0.5rem);
        margin: 0;
        padding: 0.5rem;
    }
    .tour-card__image {
        border-radius: 5px;
        margin-bottom: 0.3rem;
    }
    .tour-card__description {
        font-size: 0.3em;
        line-height: 1;
        margin-bottom: 0.3em;
    }
}

@media screen and (max-width: 470px) {
    .section__list {
        font-size: 0.5em;
    }
    .section__button {
        font-size: 0.6em;
        padding: 10px 0;
        min-width: 10%;
    }
}

